---
import GitTitlePhoto from "../assets/img/Github.png";
import IngTitlePhoto from "../assets/img/titulo.png";
import type {Titles} from "../type/types";
import Titulo from "./Titulo.astro";
const titulos:Array<Titles> = [
  {
    title: "Ing. en Ciencias Informáticas",
    image: IngTitlePhoto,
    link: "",
  },
  {
    title: "Bases de GIT, GITHUB",
    image: GitTitlePhoto,
    link: "",
  } ]
---
<section
  class="py-16  md:py-24 max-container padding-container "
  id="certification"
>
<h2 class="fade-down">Certificaciones</h2>c
<div class="md:flex md:justify-center grid grid-cols-1 gap-6 w-full ">
{titulos.map((titulo)=>(
<Titulo image={titulo.image} title={titulo.title} link={titulo.link}/>
))}
</div>
</section>
